@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html{
    font-family: 'Open Sans';
    font-size: 16px;
}

body{
    min-width: 100%;
}
.container{
    width: 1024px;
    margin: 0 auto;
}

.logo{
    font-size: 2rem;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
}

 header nav ul li{
     list-style: none;
     padding: 5px 15px;
 }

 header nav ul li:hover{
     cursor: pointer;
     border-bottom: 1px solid #000;
 }

 .background{
    background: url('images/layer-11.png');
    background-size: cover;
    height: 83vh;
    display: flex;
    text-align: center;
    align-items: center;
 }

 .head button{
     background-color: black;
     color: white;
    border: none;
    padding: 10px 40px;
    text-transform: uppercase;
    font-wright: hold;
 }
